@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
